.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    background-color: #e63946;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    border-radius: 4px; /* Adding slight rounding to corners */
}

.dropdown-menu ul {
    display: flex;
    flex-direction: column;
}

.dropdown-menu li {
    cursor: pointer;
    color: white;
    white-space: nowrap; /* Prevents text wrapping */
    user-select: none;
}

.dropdown-menu li:hover {
    background-color: #c62e3a;
}