.container-footer {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    color: white;
  }

footer {
    background-color: #e63946;
    color: white;
    padding: 2rem 0;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
  }
  
  .footer-list {
    display: inline;
    text-align: left;
  }
  
  .footer-links h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    
  }
  
  .footer-links ul {
    list-style: none;
  }
  
  .social-icons {
    display: flex;
    width: 5rem;
    height: 2rem;
    margin-right: 2rem;
  }

  
  .social-icons svg {
    font-size: 40px;
  }
  
  .footer-bottom-foot {
    text-align: center;
    color: white;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding-top: 1rem;
  }

  .footer-bottom-foot p {
    color: white;
  }

  .logo{
    width: 200px;
    height: 80px;
}

.footer-list li:hover {
    cursor: pointer;
    text-decoration: underline;
}