.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Header */
header {
    background-color: #e63946;
    color: white;
    padding: 1rem 0;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-size: 2rem;
}

header nav ul {
    display: flex;
    list-style: none;
}

header nav ul li {
    margin-left: 1rem;
    position: relative;
    padding: 0.5rem 0;
    font-size: 17px;
}

header li:hover {
    cursor: pointer;
    color: black;
}

header nav ul li {
    margin-left: 1rem;
    position: relative;
    padding: 0.5rem 0;
}

header li:hover {
    cursor: pointer;
}

.down-icon {
    margin-left: 2px;
    font-size: 13px; /* Adjust the size as needed */
}

.logo{
    width: 200px;
    height: 80px;
}