.container {
    margin: 0 auto;
}

/* Header */
header {
    background-color: #e63946;
    color: white;
}

header .container {
    display: flex;
    align-items: center;
}

header nav ul {
    display: flex;
    list-style: none;
}

header nav ul li {
    position: relative;
    font-size: 17px;
}

header li:hover {
    cursor: pointer;
    color: black;
}

header nav ul li {
    position: flex;
}

header li:hover {
    cursor: pointer;
}

.down-icon {
    margin-left: 2px;
    font-size: 14px; 
}

.logo{
    width: 200px;
    height: 80px;
}