.view-blood-request-status-container-view h1{
    text-align: center;
    font-size: 28px;
}

.view-blood-request-status-container-view .ant-tabs-tab-btn{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.blood-request-status-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
    margin: 10px;
}

.blood-request-status-block {
    flex: 0 0 30%;  
    padding: 10px;
    border: 1px solid #BF2C32;
    border-radius: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.blood-request-status-body p{
    margin: 0;
}


.blood-request-status-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
}

.blood-request-status-item svg,
.blood-request-status-item .anticon {
    margin-right: 8px;
}

.blood-request-status-item p {
    margin: 0;
    flex: 1;
    display: flex;
    justify-content: space-between;
}

.blood-request-status-item .label{
    text-align: left;
}

.blood-request-status-item .value{
    text-align: right;
}