.recover-button {
    width: 20%;
    padding: 0.75rem;
    left: 50%;
    background-color: #d32f2f;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    justify-self: center;
    align-self: center;
    place-self: center;
    margin-top: 1rem;
    font-size: 16px;
    margin-bottom: 2rem;
  }

  .form-group-recover input{
    margin-bottom: 1rem;
    gap: 1rem;
    align-self: center;
    align-items: center;
    justify-content: center;
    justify-self: center;
    width: 70%;
  }
  .notification-recover {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #ffcc00; /* Yellow color */
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }