.recover-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.notification-recover {
  background-color: yellow;
  margin: 1rem;
  position: fixed;
  border-radius: 10px;
  padding: 10px;
  top: 0;
  color: red;
  right: 0;
  left: auto; /* Ensure left is not affecting the position */
  transform: none; /* Remove the transform property */
}